{{#with releases.[0]}}
    {{#if tag}}
        ## NoCloud {{tag}} ({{date}})
    {{else}}
        ## NoCloud nightly ({{date}})
    {{/if}}
    {{#commit-list (get-all-breaking-commits merges fixes commits) heading='### Breaking Changes'}}
        - {{render-ccm subject}} <a href="{{href}}" target="_blank" rel="noopener noreferrer nofollow">`{{shorthash}}`</a>
    {{/commit-list}}
    
    {{#commit-list (get-all-non-breaking-commits merges fixes commits) heading='### Features' message='^feat!?(?:\(.*\))?:'}}
        - {{render-ccm subject}} <a href="{{href}}" target="_blank" rel="noopener noreferrer nofollow">`{{shorthash}}`</a>
    {{/commit-list}}

    {{#commit-list (get-all-non-breaking-commits merges fixes commits) heading='### Fixes' message='^fix!?(?:\(.*\))?:'}}
        - {{render-ccm subject}} <a href="{{href}}" target="_blank" rel="noopener noreferrer nofollow">`{{shorthash}}`</a>
    {{/commit-list}}

    {{#commit-list (get-all-non-breaking-commits merges fixes commits) heading='### Refactoring' message='^refactor!?(?:\(.*\))?:'}}
        - {{render-ccm subject}} <a href="{{href}}" target="_blank" rel="noopener noreferrer nofollow">`{{shorthash}}`</a>
    {{/commit-list}}

    {{#commit-list (get-all-non-breaking-commits merges fixes commits) heading='### Chores' message='^chore!?(?:\(.*\))?:'}}
        - {{render-ccm subject}} <a href="{{href}}" target="_blank" rel="noopener noreferrer nofollow">`{{shorthash}}`</a>
    {{/commit-list}}
{{/with}}